@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');

body {
  background: 
      url(../image/back.png) center center/cover no-repeat,
      -webkit-linear-gradient(top, #007bff, #a6c0fe, #ffd166);
  font-family: Arial, sans-serif;
  justify-content: start;
  flex-direction: row-reverse;
  align-items: start;
  display: flex;
  height: 100vh; 
  width: 100%; 
  gap: 6rem;
  margin: 0;
  overflow:hidden;
}

.title {
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Protest Guerrilla', sans-serif;
  font-size: 80px;
  color: white;
  -webkit-text-stroke: 0.1px black; /
}


.container {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;
  height: 50rem;
}

.zone {
  width: 20rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.level-info {
  width: 100%;
  height: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap:2rem;
  background-color: lightgrey;
  margin-top: 3.5rem;
  border-radius: 1rem;
  border: 10px solid black;
}

#progress {
  width: 80%; 
  height: 50px; 
  border-radius: 1rem;
}

.grid {
  grid-template-columns: repeat(11, 60px);
  grid-template-rows: repeat(11, 60px);
  background-color: lightgray;
  border: solid 10px black;
  border-radius: 1rem;
  grid-auto-flow: column;
  padding: 0.5rem;
  display: grid;
  gap: 2px;
}

.cell {
  background-color: lightgray;
  border: 1px solid black;
  position: relative;
  cursor: pointer;
  border-radius: 10px;
}

.correct {
  background-color: #008000;
}

.bloq {
  pointer-events: none;
}

.cell .number {
  border-radius: 10px;
  transform: translate(-50%, -50%);
  background-color: gray;
  justify-content: center;
  pointer-events: none;
  align-items: center;
  position: absolute;
  font-size: 26px;
  display: flex;
  height: 100%;
  width: 100%;
  left: 50%;
  top: 50%;
}

#attempts {
  font-weight: bolder;
  font-size: 60px;
  color: white;
  z-index: 3;
}

.hearts {
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
  height: 10rem;
  width: 10rem;
}

.hearts svg {
  position: absolute;
  width: 10rem;
  fill: red;
  left: 0;
  top: 0;
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}

.shake {
  animation: shake 0.4s ease-in-out;
}

.menu-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}