body {
  background: 
      url(../image/back.png) center center/cover no-repeat,
      -webkit-linear-gradient(top, #007bff, #a6c0fe, #ffd166);
  font-family: Arial, sans-serif;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;
  height: 100vh; 
  display: flex;
  width: 100%; 
  gap: 2rem;
  margin: 0;
}


.grid {
  grid-template-columns: repeat(11, 50px);
  grid-template-rows: repeat(11, 50px);
  background-color: lightgray;
  border: solid 10px black;
  grid-auto-flow: column;
  padding: 0.5rem;
  display: grid;
  gap: 2px;
}

.cell {
  background-color: lightgray;
  border: 1px solid black;
  position: relative;
  cursor: pointer;
  border-radius: 10px;
}

.correct {
  background-color: green;
}

.bloq {
  pointer-events: none;
}

.cell .number {
  border-radius: 10px;
  transform: translate(-50%, -50%);
  background-color: gray;
  justify-content: center;
  pointer-events: none;
  align-items: center;
  position: absolute;
  font-size: 26px;
  display: flex;
  height: 100%;
  width: 100%;
  left: 50%;
  top: 50%;
}

#attempts {
  font-weight: bolder;
  font-size: 60px;
  color: white;
  z-index: 3;
}

.hearts {
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
  height: 10rem;
  width: 10rem;
}

.hearts svg {
  position: absolute;
  width: 10rem;
  fill: red;
  left: 0;
  top: 0;
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}

.shake {
  animation: shake 0.4s ease-in-out;
}
